<div class="row mt-3">
    <div class="col">
        <app-search [searchField]="searchField" [placeholder]="searchPlaceholder"
            (onSearch)="search($event)"></app-search>
    </div>
    <div class="col">
        <button class="btn btn-success" (click)="edit(0)">Add Event</button>
    </div>
</div>
<app-grid [items]="events | search: searchOnKey : searchField" [search]="searchField" [columns]="columns" [total]="total"
    [count]="count" (onSelect)="select($event)" (onEdit)="edit($event)" (onDelete)="delete($event)"
    (onLoadMore)="loadMore()" />